body{
    /*background: linear-gradient(30deg, rgb(203 186 254) 10%,rgb(191 213 252) 30%, rgba(216, 255, 255)70%, rgb(255 255 255)100%);
    background: linear-gradient(30deg, rgb(181, 181, 181) 0%, rgba(208, 208, 208) 5%, rgba(243, 243, 243) 30%, rgb(255 255 255)100%);
    background: linear-gradient(30deg, rgba(0, 0 ,0) 2%, rgba(49, 11, 114) 20%, rgba(24, 215, 215) 70%, rgb(255 255 255)100%);*/
    /*background-attachment: fixed;*/
    font: 16px arial ;
    align-items: center ;
    text-align: center ;
    background: linear-gradient(30deg, rgba(0, 0 ,0) 2%, rgb(24, 24, 24) 20%, rgb(47, 47, 47) 70%, rgb(74, 74, 74) 100%);
}

page{
    align-items: center ;
    text-align: auto ;
}

/*NavBar*/
/*-------------*/

.AfterEnter{
    position: relative ;
    top: 0px ;
    height: 0px ;
    overflow: scroll ;
    transition: .3s ;
    box-shadow: none ; 
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px ;
    scroll-behavior: smooth ;
}
.AE{
    content: '' ;
    height: 10px ;
    width: 0px ;
    position: absolute ;
        top: 67px ;
        right: 0px ;
    
    box-shadow: none ;
    z-index: 2 ;
    transition: .0s ;
}
.AE2{
    content: '' ;
    height: 10px ;
    width: 0px ;
    position: absolute ;
        top: 67px ;
        left: 0px ;
    
    box-shadow: none ;
    z-index: 2 ;
    transition: .0s ;
}

.ScrollSpeed{
    transition:.3s;
}

@media only screen and (max-width: 830px){

    .AfterEnterShow{
        height:calc(100% - 122px);
    }
    .AfterEnterShowLinks{
        height:calc(100% - 246px);
    }
    .AE, .AE2{
        top:122px;
    }
    .ScrollShowLinks{
        top:246px;
    }
}
@media only screen and (max-width: 1050px) and (min-width: 830px){
    .AfterEnterShow{
        height:calc(100% - 67px);
    }
    .AfterEnterShowLinks{
        height:calc(100% - 191px);
    }
    .AE, .AE2{
        top:67px;
    }
    .ScrollShowLinks{
        top:190px;
    }
}
@media only screen and (min-width: 1050px){
    .AfterEnterShow{
        height:calc(100% - 67px);
    }
    .AfterEnterShowLinks{
        height:calc(100% - 191px);
    }
    .AE, .AE2{
        top:67px;
    }
    .ScrollShowLinks{
        top:190px;
    }
}

#PRPreview{
    text-align:left;
}
#DisplayedSearch{
    padding:0px 0px;
    margin:0px 0px 0px 43px;
    
    font-family:'arial';
    font-size:30px;
    font-weight:bold;
    color:#999;

    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}
#AlternateSearchOption{
    padding:0px 0px;
    margin:0px 0px 0px 43px;
    width:100%;
    font-family:'arial';
    font-size:22px;
    color:#999;

    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}

    /*Key Board*/
    .keyboard{
        position:absolute;
        left:50%;
        transform: scale(1);
        translate:-50%;
        bottom:20px;
        padding:0px;
        background-color:#0000003a;
        background-color:#131111;
        width:auto;
        display: grid;
        grid-template-rows:50px 50px 50px 50px 50px;
        border-radius:15px;
        z-index:2;
        border:1px solid #373737;
        transition:.3s;
        
        height:0px;
        overflow:hidden;
        opacity:0;
        transition:.2s;
        /*removes from view*/
    }
    .keyboard:hover{
        border:1px solid #232323;
        box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    }
    .keyrow:nth-child(1){
        display: grid;
        grid-template-columns:50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    }
    .keyrow:nth-child(2){
        display: grid;
        grid-template-columns:75px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 75px;
    }
    .keyrow:nth-child(3){
        display: grid;
        grid-template-columns:90px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 110px;
    }
    .keyrow:nth-child(4){
        display: grid;
        grid-template-columns:100px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    }
    .keyrow:nth-child(5){
        display: grid;
        grid-template-columns:50px 50px 50px 50px 400px 50px 50px 50px;
    }
    .key{
        display: inline-flex;
        background-color:#23232374;
        padding:5px;
        margin:2.5px;
        border-radius:5px;
        position:relative;
    }
    .key p:nth-child(1){
        position:absolute;
        width:calc(100%);
        left:0px;
        top:5px;
        margin:0px;
        transform:scale(1);
        color:#ececec;
        transition:.2s;
    }
    .key p:nth-child(2){
        position:absolute;
        width:calc(100%);
        left:-7px;
        margin:0px;
        top:22;
        transform:scale(.75);
        transition:.2s;
    }
    .key.controllerSelect{
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .25);
        background-color:#232323;
    }
    .key:hover{
        /*filter:drop-shadow(0px 0px 4px 4px rgb(190, 190, 190, 0.25));*/
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .25);
        background-color:#232323;
    }
    .key.controllerSelect:hover{
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .7);
        background-color:#232323;
    }
    .keyrow:nth-child(1) .key:nth-child(1){
        border-radius:10px 5px 5px 5px;
    }
    .keyrow:nth-child(1) .key:nth-child(14){
        border-radius:5px 10px 5px 5px;
    }
    .keyrow:nth-child(5) .key:nth-child(1){
        border-radius:5px 5px 5px 10px;
    }
    .keyrow:nth-child(5) .key:nth-child(8){
        border-radius:5px 5px 10px 5px;
    }
    .key p{
        text-align:center;
        width:100%;
        margin:0px;
        color:#999;
    }

