body{
    /*
    #background: linear-gradient(30deg, rgb(203 186 254) 10%,rgb(191 213 252) 30%, rgba(216, 255, 255)70%, rgb(255 255 255)100%);
    #background-attachment: fixed;*/
    font: 16px arial;
    align-items: center;
    text-align:center;
    background: linear-gradient(30deg, rgba(0, 0 ,0) 2%, rgb(24, 24, 24) 20%, rgb(47, 47, 47) 70%, rgb(74, 74, 74) 100%);
}

page{
    align-items: center;
    text-align:auto;
}

/*NavBar*/
/*-------------*/

#AfterEnter{
    position:relative;
    top:0px;
    height:0px;
    overflow:scroll;
    transition:.3s;
    box-shadow: none; 
    margin:10px 0px 0px 0px;
    padding: 0px 10px ;
    scroll-behavior:smooth;
}
#AE{
    content: '';
    height:10px;
    width:0px;
    position:absolute;
        top:67px;
        right:0px;
    
    box-shadow:none;
    z-index:2;
    transition:.0s;
}
#AE2{
    content: '';
    height:10px;
    width:0px;
    position:absolute;
        top:67px;
        left:0px;
    
    box-shadow:none;
    z-index:2;
    transition:.0s;
}
#PRPreview{
    text-align:left;
    position:relative;
    top:0px;
    transition:.3s;
}
#DisplayedSearch{
    padding:0px 0px;
    margin:0px 0px 0px 43px;
    
    font-family:'arial';
    font-size:30px;
    font-weight:bold;
    color:#999;

    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}
#AlternateSearchOption{
    padding:0px 0px;
    margin:0px 0px 0px 43px;
    width:100%;
    font-family:'arial';
    font-size:22px;
    color:#999;

    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}

#PageResults{
    position:relative;
    display:grid;
    grid-template-columns: 4fr 3fr 3fr;
    gap:20px;
    margin:10px;
    
    transition:.2s;
}
@media only screen and (max-width: 830px) and (min-width: 0px){
    #PageResults{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 1400px) and (min-width: 830px){
    #PageResults{
        grid-template-columns: 6fr 5fr;
    }
}
@media only screen and (max-width: 1800px) and (min-width: 1400px){
    #PageResults{
        grid-template-columns: 3fr 3fr 3fr;
    }
}
#Col1{
    top:10px;
    right:auto;
    left:0px;
    width:100%;
}
#Col2{
    top:10px;
    right:0px;
    left:auto;
    width:100%;
}
#Col3{
    top:10px;
    right:0px;
    left:auto;
    width:100%;
}
    .PageResult{
        position:relative;
            left:0px;

        padding:auto;
        margin:0px 0px 20px 0px;

        height:auto;
        width:100%;
        
        background-color:#23232374;
        border-radius:20px;
        border:1px solid #373737;
        
        overflow:hidden;
        transition:.2s;
        z-index:-.5;

        box-shadow: 0px 0px 4px 4px rgb(0, 0, 0, .15);
        -webkit-touch-callout: unset;
        -webkit-user-select: text;
        user-select: text;
    }

    .PageResult:hover{
        -webkit-box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
        box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
        border:1px solid #232323;
    }
    .PageResult.controllerSelect, .pageResultIframe.controllerSelect{
        -webkit-box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
        box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    }

    .PageResult.controllerSelect:hover, .pageResultIframe.controllerSelect:hover{
        -webkit-box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .7);
        box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .7);
    }
        .pageResultInformation{
            position:relative;
            left:0%;
            
            height:auto;
            width:100%;
            
            z-index:1;
            opacity:1;
            
            text-align:left;
            padding:0px;
            
            transition:.2s;
        }



        
        .pageResultDisclaimer{
            position:absolute;
            top:-0%;
            right:-100%;
            
            height:100%;
            width:100%;
            
            background-color:#5b5a5a;
            z-index:2;
            transition:.2s;
        }


        .pageResultButtonH{
            position:absolute;
            top: 10px;
            right: 10px;
            
            margin:0px;
            padding:0px;
            
            border:none;
            outline:none;
            background-color:transparent;
            
            
            font-family:'Material Icons';
            font-size:20;
            font-weight:normal;
            color:#999;
            z-index:2;
            transition:.2s;
        }
        .iframeResultButtonK{
            position:absolute;
            top: 10px;
            right: 40px;
            
            margin:0px;
            padding:0px;
            
            border:none;
            outline:none;
            background-color:transparent;
            
            
            font-family:'Material Icons';
            font-size:20;
            font-weight:normal;
            color:#999;
            z-index:2;
            transition:.2s;
        }
        .pageResultButtonH:hover, .iframeResultButtonK{
            color:#A7DDEE;
        }

/*
.PageResultKnowledge{
    position:relative;
        left:0px;

    padding:auto;
    margin:0px 0px 20px 0px;
    
    height:auto;
    width:100%;
    
    background-color:#23232374;
    border-radius:20px;
    border:1px solid #373737;
    
    overflow:hidden;
    transition:.2s;
    z-index:-.5;

    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0, .15);
    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}


.PageResultKnowledge:hover{
    -webkit-box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    border:1px solid #232323;
}
*/
.resultPadding{
    margin:20px;
    padding:none;
    width:auto;
    min-height:50px;
    transition:.2s;
}

.PageResultIframe{
    position:relative;
        left:0px;

    padding:auto;
    margin:0px 0px 20px 0px;
    
    height:auto;
    width:100%;
    
    background-color:#23232374;
    border-radius:20px;
    border:1px solid #373737;
    
    overflow:hidden;
    transition:.2s;
    z-index:-.5;

    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0, .15);
    -webkit-touch-callout: unset;
    -webkit-user-select: text;
    user-select: text;
}
.PageResultIframe:hover{
    -webkit-box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    border:1px solid #232323;
}
    .iframeResultPadding{
        margin:5px;
        padding:none;
        width:auto;
        min-height:50px;
        transition:.2s;
    }
        .graph{
            width:100%;
            aspect-ratio:16/9;
            border-radius:15px;
            overflow:hidden;
            border:none;
        }





#commandline{
    position:fixed;
    height:30px;
    
    
    bottom:0px;
    left:0px;
    right:0px;
    
    background-color:#000000c7;
    border:none;
    outline:none;
    
    color:#ececec;
}


.DeffWordSound{
    font-family:'arial';
    font-size:30px;
    color:#999;
}
.DeffWordIn{
    
    margin:15px 0px 5px 15px;
    
    font-family:'arial';
    font-size:18px;
    color:#a1a1a1;
}
.WordDeff{
    margin:0px 0px 10px 30px;
    
    font-family:'arial';
    font-size:18px;
    color:#888;
}
.WordSyn{
    margin:0px 0px 0px 35px;
    
    font-family:'arial';
    font-size:18px;
    color:#888;
}
.Etymology{
    padding:0px 0px;
    margin:20px 0px 0px 0px;
    
    font-family:'arial';
    font-size:18px;
    color:#555;
}


.SearchResultLink{
    padding:30px;
    margin:0px;
    height:auto;
    width:100%;
    
    position:relative;
    left:0px;
    transition:.5s;
}
    
     .pagelink:visited::before{
        content: "";
        position: absolute;
        top: 20px;
        width: auto;
        left: 0%;
        height: 2px;
        border-radius: 2px;
        background: -webkit-linear-gradient(30deg, #9c27b0 9.6%, #d98ee5 93.6%);
     }
    
    a.pagelink{
        padding:0px;
        width:0%;
        height:0px;
        max-height: 10px;
        font-family:'arial';
        font-size:18px;
        font-weight:bolder;

        position:relative;
        overflow:hidden;
        background: -webkit-linear-gradient(30deg, #1640bb 9.6%, #25a7ff 93.6%);
           -webkit-text-fill-color:transparent;

           -webkit-background-clip: text;
           background-clip: text;
        transition:.2s;
    }

    a.pagelink:before{
        content: "";
        position: absolute;
        top: 20px;
        width: 0%;
        left: 50%;
        height: 2px;
        border-radius: 2px;
        background: -webkit-linear-gradient(30deg, #1640bb 9.6%, #25a7ff 93.6%) ;
        transition:.2s;
        
    }

     a.pagelink:link:visited{
        background: -webkit-linear-gradient(30deg, #9c27b0 9.6%, #d98ee5 93.6%);
            -webkit-text-fill-color:transparent;

            -webkit-background-clip: text;
            background-clip: text;
    }

    a.pagelink:hover{
        background: -webkit-linear-gradient(30deg, #00bbf7 9.6%, #b4e1ff 93.6%);
            -webkit-text-fill-color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
    }

    a.pagelink:hover::before{
        width: 100%;
        left: 0%;
        background: -webkit-linear-gradient(30deg, #00bbf7 9.6%, #b4e1ff 93.6%);
    }

    a.pagelink:link:active{
        background: -webkit-linear-gradient(30deg, #9c27b0 9.6%, #d98ee5 93.6%);
            -webkit-text-fill-color:transparent;

            -webkit-background-clip: text;
            background-clip: text;
    }

    a.pagelink:active::before{
        width: 0%;
        left: 50%;
        background: -webkit-linear-gradient(30deg, #9c27b0 9.6%, #d98ee5 93.6%);
    }
    .PagePublish{
        margin:15px 0px 5px 15px;
        width:auto;
        height:auto;

        font-family:'arial';
        font-size:18px;
        color:#a1a1a1;
    }
    .PageDescription{
        margin:0px 0px 10px 30px;

        font-family:'arial';
        font-size:18px;
        color:#888;
    }
    .keywords{
        padding:0px 0px 0px 0px;
        margin:0px 20px;
        width:50%;
        height:auto;

        font-family:'arial';
        font-size:16px;
        color:#555;
    }
    .Mkeywords{
        padding:0px 0px 0px 0px;
        margin:0px 20px;
        width:50%;
        height:auto;

        font-family:'arial';
        font-size:16px;
        color:#555;
    }





    /*Key Board*/
    .keyboard{
        position:absolute;
        left:50%;
        transform: translate(-50%);
        bottom:20px;
        padding:0px;
        background-color:#0000003a;
        background-color:#131111;
        width:auto;
        display: grid;
        grid-template-rows:50px 50px 50px 50px 50px;
        border-radius:15px;
        z-index:2;
        border:1px solid #373737;
        transition:.3s;
        
        height:0px;
        overflow:hidden;
        opacity:0;
        transition:.2s;
        /*removes from view*/
    }
    .keyboard:hover{
        border:1px solid #232323;
        box-shadow: 0px 0px 4px 4px rgb(190, 190, 190, .25);
    }
    .keyrow:nth-child(1){
        display: grid;
        grid-template-columns:50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    }
    .keyrow:nth-child(2){
        display: grid;
        grid-template-columns:75px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 75px;
    }
    .keyrow:nth-child(3){
        display: grid;
        grid-template-columns:90px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 110px;
    }
    .keyrow:nth-child(4){
        display: grid;
        grid-template-columns:100px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    }
    .keyrow:nth-child(5){
        display: grid;
        grid-template-columns:50px 50px 50px 50px 400px 50px 50px 50px;
    }
    .key{
        display: inline-flex;
        background-color:#23232374;
        padding:5px;
        margin:2.5px;
        border-radius:5px;
        position:relative;
    }
    .key p:nth-child(1){
        position:absolute;
        width:calc(100%);
        left:0px;
        top:5px;
        margin:0px;
        transform:scale(1);
        color:#ececec;
        transition:.2s;
    }
    .key p:nth-child(2){
        position:absolute;
        width:calc(100%);
        left:-7px;
        margin:0px;
        top:22;
        transform:scale(.75);
        transition:.2s;
    }
    .key.controllerSelect{
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .25);
        background-color:#232323;
    }
    .key:hover{
        /*filter:drop-shadow(0px 0px 4px 4px rgb(190, 190, 190, 0.25));*/
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .25);
        background-color:#232323;
    }
    .key.controllerSelect:hover{
        box-shadow: 0px 0px 2px 2px rgb(190, 190, 190, .7);
        background-color:#232323;
    }
    .keyrow:nth-child(1) .key:nth-child(1){
        border-radius:10px 5px 5px 5px;
    }
    .keyrow:nth-child(1) .key:nth-child(14){
        border-radius:5px 10px 5px 5px;
    }
    .keyrow:nth-child(5) .key:nth-child(1){
        border-radius:5px 5px 5px 10px;
    }
    .keyrow:nth-child(5) .key:nth-child(8){
        border-radius:5px 5px 10px 5px;
    }
    .key p{
        text-align:center;
        width:100%;
        margin:0px;
        color:#999;
    }

